doctype html
html
  head
    meta(charset='utf-8')
    title Commerce
    link(rel='stylesheet', href='/css/style.css')
  body
    h1 Commerce
    nav
      ul
        li: a(href='/') Home
        li: a(href='/about') About
        li: a(href='/faq') FAQ

    h2 Home Page!
